<main class="home-main">
  <div class="main-container py-4">
    <h3 class="mb-4">Seja bem-vindo a um breve resumo de Angular!</h3>
    <p class="sobre m-0">
      O Angular é uma plataforma de aplicações web de código-fonte aberto e front-end baseado em TypeScript
      liderado pela Equipe Angular do Google e por uma comunidade de indivíduos e corporações.
    </p>
    <p class="saiba-mais m-0">Saiba mais sobre:</p>
    <div class="row mt-3">
      <div class="card bg-dark text-white col-lg">
        <div class="card-body">
          <h5 class="card-title">Modules</h5>
          <a class="card-link" [routerLink]="('/modules')">Acessar</a>
        </div>
      </div>
      <div class="card bg-dark text-white col-lg">
        <div class="card-body">
          <h5 class="card-title">Components</h5>
          <a class="card-link" [routerLink]="('/components')">Acessar</a>
        </div>
      </div>
      <div class="card bg-dark text-white col-lg">
        <div class="card-body">
          <h5 class="card-title">Services</h5>
          <a href="#" class="card-link" [routerLink]="('/services')">Acessar</a>
        </div>
      </div>
      <div class="card bg-dark text-white col-lg">
        <div class="card-body">
          <h5 class="card-title">Routes</h5>
          <a href="#" class="card-link" [routerLink]="('/routes')">Acessar</a>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="card bg-dark text-white col-lg">
        <div class="card-body">
          <h5 class="card-title">Data binding</h5>
          <a href="#" class="card-link" [routerLink]="('/data-binding')">Acessar</a>
        </div>
      </div>
      <div class="card bg-dark text-white col-lg">
        <div class="card-body">
          <h5 class="card-title">Pipes</h5>
          <a href="#" class="card-link" [routerLink]="('/pipes')">Acessar</a>
        </div>
      </div>
      <div class="card bg-dark text-white col-lg">
        <div class="card-body">
          <h5 class="card-title">Directives</h5>
          <a href="#" class="card-link" [routerLink]="('/directives')">Acessar</a>
        </div>
      </div>
      <div class="card bg-dark text-white col-lg">
        <div class="card-body">
          <h5 class="card-title">???????</h5>
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="card-link">Acessar</a>
        </div>
      </div>
    </div>
    <hr class="mt-5" style="border-color: rgb(117, 117, 117);">
    <h3 class="mt-4 text-center mb-3">Diagrama mostrando o funcionamento do Angular</h3>
    <div class="d-flex justify-content-center align-items-center">
      <img src="../../../assets/overview2.png" class="img-fluid">
    </div>
  </div>
</main>