<div class="components-main">
    <div class="components-container py-4">
        <h2>Components</h2>
        <hr style="border-color: rgb(117, 117, 117);">
        <p class="ml-2">
            Os componentes são o bloco de construção principal em aplicações Angular, cada componente consiste em:
        </p>
        <ul>
            <li>Um modelo HTML que declara o que é renderizado na página</li>
            <li>Uma classe TypeScript que define o comportamento</li>
            <li>Um seletor CSS que define como o comportamento é usado em um modelo</li>
            <li>Opcionalmente, estilos CSS aplicados ao modelo</li>
        </ul>
        <h2 class="mt-5">Pré-requisitos</h2>
        <hr style="border-color: rgb(117, 117, 117);">
        <p class="ml-2">
            Para criar um componente, verifique se você atendeu aos seguintes requisitos:
        </p>
        <ol>
            <li><a href="https://angular.io/guide/setup-local#install-the-angular-cli" target="_blank">Instale o Angular CLI</a></li>
            <li>Crie uma aplicação Angular, se você não tem um projeto, crie um usando <code>ng new &lt;nome-do-projeto&gt;</code>, onde <code>&lt;nome-do-projeto&gt;</code> é o nome da sua aplicação.</li>
        </ol>
        <h2 class="mt-5">Criando um componente usando Angular CLI</h2>
        <hr style="border-color: rgb(117, 117, 117);">
        <ol>
            <li>Em uma janela do terminal, navegue até o diretório da sua aplicação.</li>
            <li>Digite <code>ng generate component &lt;component-name&gt;</code>, onde <code>&lt;component-name&gt;</code> é o nome do seu componente.</li>
        </ol>
        <p class="ml-2">
            Por padrão, esse comando cria o seguinte:
        </p>
        <ul>
            <li>Uma pasta com o nome do componente</li>
            <li>Um arquivo de componente, <code>&lt;component-name&gt;.component.ts</code></li>
            <li>Um arquivo de modelo, <code>&lt;component-name&gt;.component.html</code></li>
            <li>Um arquivo CSS, <code>&lt;component-name&gt;.component.css</code></li>
            <li>Um arquivo de testes, <code>&lt;component-name&gt;.component.spec.ts</code></li>
        </ul>
        <p class="ml-2">
            Onde <code>&lt;component-name&gt;</code> é o nome do seu componente.
        </p>
    </div>
</div>