<main class="services-main py-4">
    <div class="services-container">
        <h2>Services</h2>
        <hr style="border-color: rgb(117, 117, 117);">
        <p>
            Serviço é uma categoria ampla que abrange qualquer valor, função ou recurso de que um aplicativo precisa. Um serviço é normalmente uma classe com um propósito estreito e bem definido. Deve fazer algo específico e bem feito.
        </p>
        <p>
            O Angular distingue componentes de serviços para aumentar a modularidade e a capacidade de reutilização. Ao separar a funcionalidade relacionada à visualização de um componente de outros tipos de processamento, você pode tornar suas classes de componente enxutas e eficientes.
        </p>
        <p>
            Idealmente, o trabalho de um componente é permitir a experiência do usuário e nada mais. Um componente deve apresentar propriedades e métodos para vinculação de dados, a fim de mediar entre a visualização (renderizada pelo modelo) e a lógica do aplicativo (que geralmente inclui alguma noção de um modelo).
        </p>
        <p>
            Um componente pode delegar certas tarefas aos serviços, como buscar dados do servidor, validar a entrada do usuário ou registrar diretamente no console. Ao definir essas tarefas de processamento em uma classe de serviço injetável, você disponibiliza essas tarefas para qualquer componente. Você também pode tornar seu aplicativo mais adaptável injetando diferentes provedores do mesmo tipo de serviço, conforme apropriado em diferentes circunstâncias.
        </p>
        <p>
            O Angular não impõe esses princípios. O Angular o ajuda a seguir esses princípios, tornando mais fácil fatorar a lógica do seu aplicativo nos serviços e disponibilizar esses serviços para os componentes por meio de injeção de dependência. 
        </p>
        <h2 class="mt-5">Criando um serviço usando o Angular CLI</h2>
        <hr style="border-color: rgb(117, 117, 117);">
        <ol>
            <li>Em uma janela do terminal, navegue até o diretório da sua aplicação.</li>
            <li>Digite o comando: <code>ng generate service &lt;name&gt;</code>, onde name será o nome do serviço a ser criado.</li>
        </ol>
    </div>
</main>
