<main class="modules-main py-4">
    <div class="modules-container">
        <h2>Modules</h2>
        <hr style="border-color: rgb(117, 117, 117);">
        <p>
            Os módulos NgModules diferem e complementam os módulos JavaScript (ES2015). Um NgModule declara um contexto de compilação para um conjunto de componentes que é dedicado a um domínio de aplicativo, um fluxo de trabalho ou um conjunto de recursos intimamente relacionado. Um NgModule pode associar seus componentes a códigos relacionados, como serviços, para formar unidades funcionais.
        </p>
        <p>
            Cada aplicativo Angular possui um módulo raiz, convencionalmente denominado AppModule, que fornece o mecanismo de bootstrap que inicia o aplicativo. Um aplicativo normalmente contém muitos módulos funcionais.
        </p>
        <p>
            Como os módulos JavaScript, os NgModules podem importar funcionalidades de outros NgModules e permitir que sua própria funcionalidade seja exportada e usada por outros NgModules. Por exemplo, para usar o serviço de roteador em seu aplicativo, você importa o Router NgModule.
        </p>
        <p>
            Organizar seu código em módulos funcionais distintos ajuda a gerenciar o desenvolvimento de aplicativos complexos e a projetar para reutilização. Além disso, essa técnica permite que você aproveite o carregamento lento - ou seja, o carregamento de módulos sob demanda - para minimizar a quantidade de código que precisa ser carregada na inicialização.
        </p>
        <h2 class="mt-5">Criando um módulo usando o Angular CLI</h2>
        <hr style="border-color: rgb(117, 117, 117);">
        <ol>
            <li>Em uma janela do terminal, navegue até o diretório da sua aplicação.</li>
            <li>Digite o comando: <code>ng generate module &lt;name&gt;</code>, onde name será o nome do módulo a ser criado.</li>
        </ol>
    </div>
</main>
